.product-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.product-image {
  margin-right: 40px;
}
.product-image2 {
  margin-right: 20px;
}
.taille-produit {
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}
.taille-produit.selected {
  background-color: blue;
  color: white;
}

