{% extends 'base.html' %}
{% block content %}

<div class="text-center text-2xl text-black pl-10 pr-10 pt-10">
  <p>PAGE NON TROUVÉE</p><br>
  <a href="/" class="bg-red-400 pl-5 pt-3 pr-5 pb-3 rounded-full" type="button">Retourner sur l'accueil</a><br><br><br>
</div>

<div class="text-center text-xl text-black pl-10 pr-10 pt-10">
  <p>Mais ne vous inquiétez pas, voici un petit jeu pour vous divertir en attendant :<br>Tout les 10 points la page se rafraichira.</p><br>
  <div id="game">
    <p id="score" class="text-3xl">Score : 0</p><br>
    <button id="clickButton" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Cliquez-moi !</button>
  </div>
</div>
<br><br><br>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var score = 0;
    var scoreDisplay = document.getElementById("score");
    var clickButton = document.getElementById("clickButton");

    clickButton.addEventListener("click", function() {
      score++;
      scoreDisplay.textContent = "Score : " + score;
      
      if (score % 10 === 0) {
        location.reload();
      }
    });
  });
</script>

{% endblock %}
