{% extends 'base1.html' %}
{% block content %}
<br>
<p class="text-yellow-100 text-center text-4xl pt-2">Messages</p><br><br>
  <div class="pl-20 pr-20">
    <section>
      <table class="table-auto w-full border-collapse border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 px-4 py-2">Nom</th>
            <th class="border border-gray-300 px-4 py-2">Prénom</th>
            <th class="border border-gray-300 px-4 py-2">E-mail</th>
            <th class="border border-gray-300 px-4 py-2">Objet</th>
            <th class="border border-gray-300 px-4 py-2">Corps du message</th>
            <th class="border border-gray-300 px-4 py-2">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for message in message %}
          <tr>
            <td class="border border-gray-300 px-4 py-2">{{ message['nom'] }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ message['prenom'] }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ message['email'] }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ message['objet'] }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ message['texte'] }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ message['date_envoi'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
<br><br>
<p class="text-yellow-100 text-center text-4xl pt-2">Commandes</p><br><br>
<div class="pl-20 pr-20">
  <section>
    <table class="table-auto w-full border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="border border-gray-300 px-4 py-2">Numéro</th>
          <th class="border border-gray-300 px-4 py-2">Client</th>
          <th class="border border-gray-300 px-4 py-2">Article</th>
          <th class="border border-gray-300 px-4 py-2">Prix</th>
          <th class="border border-gray-300 px-4 py-2">Livraison</th>
          <th class="border border-gray-300 px-4 py-2">Date</th>
          <th class="border border-gray-300 px-4 py-2">Etat</th>
        </tr>
      </thead>
      <tbody>
        {% for commande in commande %}
        <tr>
          <td class="border border-gray-300 px-4 py-2">{{ commande['_id'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['client'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['article'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['tarif'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['livraison'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['date'] }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ commande['etat'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
