{% extends 'base1.html' %}
{% block content %}
<br><br><br><br>
<a href="/messagerie" class="rounded-full bg-gray-700 text-white text-center text-4xl pl-20 pt-20 pb-20 pr-20">Messages</a><br><br>
<br><br><br><br><br><br><br><br>
<a href="/commande" class="rounded-full bg-gray-700 text-white text-center text-4xl pl-20 pt-20 pb-20 pr-20">Commandes</a><br><br>
<br><br><br><br><br><br><br><br>
<a href="/client" class="rounded-full bg-gray-700 text-white text-center text-4xl pl-20 pt-20 pb-20 pr-20">Clients</a><br><br>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/administration" class="rounded-full bg-gray-700 text-white text-center text-4xl pl-20 pt-20 pb-20 pr-20">Déconnexion</a><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
