<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="static/style.css" rel="stylesheet"/>
    <script defer src="static/app.js"></script>
    <script defer src="static/panier.js"></script>
    <!-- promo -->
    <script defer src="{{ url_for('static', filename='promo.js') }}"></script>
    <script defer src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <!-- diaporama -->
    <script defer src="{{ url_for('static', filename='slide.js') }}"></script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>👕 Ivetcom </title>
    <style>
        /* TOUCHE PAS A CE CSS */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        input {
            padding: 10px;
            font-size: 16px;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        header {
            background-color: #333;
            padding: 10px 0;
        }
        .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .nav ul li {
            display: inline-block;
            margin-right: 200px; /* Ajout de la marge droite de 50 pixels */
        }
        .nav ul li:last-child {
            margin-right: 0; /* Pour éviter une marge à droite sur le dernier élément */
        }
        .nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }
        .nav ul li a:hover {
            color: #ffcc00; /* Couleur de survol */
        }
        #cookieConsent {
            display: none; /* Start hidden and display with JS */
            z-index: 1000; /* Ensure it appears above other elements */
        }
    </style>
</head>
<body>
    <!-- debut de mon code-->
    <!-- debut haut de page-->
    <header class="p-5 bg-black text-yellow-100 ">
        <!-- BANDEAU DU HAUT -->
        <a href="/">
            <img href="/" src="static/images/logo.png" class="pl-2 pt-2 pb-2"/>
        </a>
        <nav>
            <ul class="flex flex flex-row-reverse space-x-4 space-x-reverse text-xl font-medium">
                <li><a href="/panier">Panier</a></li>
                {% if session['util'] %}
                <li><a class="pl-20" href="/logout">Se déconnecter</a></li>
                {% else %}
                <li><a href="/login">Se connecter</a></li>
                <li><a href="/register">S'inscrire</a></li>
                <div class="search-container">
                    {% endif %}
                    <form action="/search" method="GET">
                        <input class="text-black pl-2" type="text" placeholder="pull, t shirt, bijoux, ..." name="q" class="search-input">
                        <button type="submit" class="text-yellow-600 search-button">Rechercher</button>
                    </form>
                </div>
            </ul>
        </nav>
    </header>
    <!-- CODE PROMO -->
    <section class="bg-[#333] h-12">
        <p class="text-center text-2xl text-yellow-100 promo" aria-label="Profiter de -10% avec le code WELCOME10"></p>
    </section>
    <body class="bg-cover bg-center" style="background-image: url('https://img.freepik.com/vecteurs-premium/conception-couverture-fond-degrade-vert-illustration-vectorielle_797523-908.jpg')">
        <!-- MENU CATEGORIES -->
        <nav class="categories">
            <!-- partie mobile -->
            <label for="menu-mobile" class="menu-mobile">MENU</label>
            <input type="checkbox" id="menu-mobile" role="button">
            <ul class="nav-container">
                <li class="cat"><a href="/" aria-current="page">Home</a></li>
                <li class="cat"><a href="/homme">Hommes</a>
                    <ul class="sous-menu">
                        <li><a href="#">Tshirts</a></li>
                        <li><a href="#">Pulls</a></li>
                        <li><a href="#">Pantalons</a></li>
                        <li><a href="#">Chaussures</a></li>
                    </ul>
                </li>
                <li class="cat"><a href="/femme">Femmes</a>
                    <ul class="sous-menu">
                        <li><a href="#">Tshirts</a></li>
                        <li><a href="#">Pulls</a></li>
                        <li><a href="#">Pantalons</a></li>
                        <li><a href="#">Chaussures</a></li>
                    </ul>
                </li>
                <li class="cat"><a href="/enfant">Enfants</a>
                    <ul class="sous-menu">
                        <li><a href="#">Tshirts</a></li>
                        <li><a href="#">Pulls</a></li>
                        <li><a href="#">Pantalons</a></li>
                        <li><a href="#">Chaussures</a></li>
                    </ul>
                </li>
                <li class="cat"><a href="/accessoire">Accessoires</a>
                    <ul class="sous-menu">
                        <li><a href="#">Montres</a></li>
                        <li><a href="#">Bagues</a></li>
                        <li><a href="#">Bracelets</a></li>
                        <li><a href="#">Colliers</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <br>
    </body>
    <main>
        {% block content %}
        <section class="product-detail-container">
            <div class="product-image">
                <img src="{{ article['image'] }}" alt="Image du produit">
            </div>
            <div class="product-info">
                <h1 class="product-title">{{ article['titre'] }} {{ article['prix'] }}€</h1>
                <form action="/panier" method="post">
                    <label for="quantity">Quantité :</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <br><br>
                    <input type="submit" class="btn-add-to-cart" value="Ajouter au panier">
                </form>
                <p class="size-selection">Sélectionner votre taille :</p>
                <div class="size-options">
                    <a class="taille-produit">XS</a>
                    <a class="taille-produit">S</a>
                    <a class="taille-produit">M</a>
                    <a class="taille-produit">L</a>
                    <a class="taille-produit">XL</a>
                </div>
            </div>
        </section>
        <section class="product-description">
            <h2>Description de l'article :</h2>
            <p>{{ article['description'] }}</p>
        </section>
        {% endblock %}
    </main>
    <footer class="p-5 bg-black text-yellow-100 text-center" style="display: flex; justify-content: center; align-items: center;">
        <a style="margin: 0 10px;" href="/administration">Copyright : magicdevs&copy;</a>
        <p style="margin: 0 10px;">｜</p>
        <a style="margin: 0 10px;" href="/cookies">Paramètres de cookies</a>
        <p style="margin: 0 10px;">｜</p>
        <a style="margin: 0 10px;" href='/assistance'>Contact : ivetcom@gmail.com</a>
    </footer>
    <div id="cookieConsent" class="fixed bottom-0 w-full bg-gray-800 text-white p-4 flex justify-between items-center">
        <a class="mr-4" href="/cookies">Nous utilisons des cookies pour améliorer votre expérience. Acceptez-vous les cookies ?</a>
        <div>
            <button id="acceptCookies" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">Accepter</button>
            <button id="rejectCookies" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Refuser</button>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var cookieConsent = document.getElementById("cookieConsent");
            var acceptCookies = document.getElementById("acceptCookies");
            var rejectCookies = document.getElementById("rejectCookies");

            // Check if the consent message should be shown
            if (!sessionStorage.getItem('cookieConsent')) {
                cookieConsent.style.display = "flex";
            }

            // Hide the consent message when accept or reject is clicked
            acceptCookies.addEventListener("click", function() {
                sessionStorage.setItem('cookieConsent', 'accepted');
                cookieConsent.style.display = "none";
            });

            rejectCookies.addEventListener("click", function() {
                sessionStorage.setItem('cookieConsent', 'rejected');
                cookieConsent.style.display = "none";
            });
        });
    </script>
</body>
</html>
