{% extends 'base.html' %}

{% block content %}
<h1 class="text-black text-4xl ">Cookies </h1>



<p class="text-black text-2xl" > <br><br>Chez Vetcom, nous nous engageons à protéger votre vie privée. Cette politique de cookies explique comment et pourquoi nous utilisons des cookies sur notre site web.<br><br>
  1. Qu'est-ce qu'un cookie ?<br><br>

  Un cookie est un petit fichier texte que notre site web stocke sur votre appareil lorsque vous le visitez. Il permet au site de se souvenir de vos actions et préférences (comme le login, la langue, la taille de police et d'autres préférences d'affichage) sur une période donnée, pour que vous n'ayez pas à les saisir de nouveau à chaque fois que vous revenez sur le site ou naviguez d'une page à l'autre.<br><br>
  2. Comment nous utilisons les cookies<br><br>

  Nous utilisons des cookies pour plusieurs raisons :<br><br>

      Cookies nécessaires : Ces cookies sont essentiels pour que vous puissiez naviguer sur le site et utiliser ses fonctionnalités, comme l'accès aux zones sécurisées du site.
      Cookies de performance : Ces cookies collectent des informations sur la manière dont les visiteurs utilisent le site, comme les pages que les visiteurs consultent le plus souvent, et s'ils reçoivent des messages d'erreur des pages web.<br><br>
      Cookies de fonctionnalité : Ces cookies permettent au site de se souvenir des choix que vous faites (comme votre nom d'utilisateur, la langue ou la région où vous vous trouvez) et de fournir des fonctionnalités améliorées et plus personnelles.<br><br>
      Cookies de ciblage ou publicitaires : Ces cookies sont utilisés pour diffuser des publicités qui sont plus pertinentes pour vous et vos intérêts.<br><br>

  3. Gestion de vos cookies<br><br>

  Vous pouvez contrôler et/ou supprimer des cookies comme vous le souhaitez - pour plus de détails, voir aboutcookies.org. Vous pouvez supprimer tous les cookies qui sont déjà sur votre ordinateur et vous pouvez configurer la plupart des navigateurs pour empêcher qu'ils ne soient placés. Cependant, si vous le faites, vous devrez peut-être ajuster manuellement certaines préférences chaque fois que vous visitez notre site et certains services et fonctionnalités peuvent ne pas fonctionner.<br><br>
  4. Modifications de cette politique<br><br>

  Nous pouvons mettre à jour notre politique de cookies de temps en temps pour refléter les changements dans notre service et les retours de nos clients. Nous vous encourageons à consulter périodiquement cette page pour les dernières informations sur notre politique de cookies.<br><br>
  5. Contactez-nous<br><br>

  Si vous avez des questions concernant cette politique de cookies, vous pouvez nous contacter à :<br><br>

  <br>
  ivetcom@gmail.com <br><br><br> Vetcom<br><br>
</p>
{% endblock %}