{% extends 'base.html' %}

{% block content %}
<h1 class="text-black ">Cookies </h1>

<div class="grid justify-items-center class="bg-white ...">
  <div>01</div>
</div>

<p class="text-black text-2xl" > Ivetcom utilisent les cookies pour améliorer votre expérience sur le site. Ces cookies sont utilisés pour améliorer nos offres et pour vous proposer des contenus personnalisés, ainsi que vous proposez des services adaptés à vos centres d'intérêt. Nous voulons lutter contre la fraude. Certains cookies sont nécessaires au fonctionnement du site et de nos services.Vous pouvez acceptez, gérer vos préférences par finalité ou continuer votre navigateur sans accepter . Politique de cookies</p>
{% endblock %}