{% extends 'base1.html' %}
{% block content %}

<div class="pl-20 pr-20"><br><br>
  <p class="text-4xl text-center text-red-500">Erreur, mauvais mot de passe !</p>
  <br><br><br>
  <p class="text-center text-red-500 text-xl"">Si vous ne vous souvenez plus de votre mot de passe, merci de contacter le service.</p>
  <br><br><br><br>
</div>
<div class="text-center">
  <a href="/administration" class="pl-5 pr-5 text-white bg-black rounded-lg px-4 py-2">Se connecter</a><br><br><br><br>
  <a href="/" class="pl-5 pr-5 text-blue-500 bg-red-500 rounded-lg px-4 py-2">Retour menu</a><br><br><br><br>
</div>
{% endblock %}
