{% extends 'base.html' %}
{% block content %}
  <div class="flex items-center justify-center">
      <h1 class="text-6xl text-yellow-100 font-bold py-12">Bienvenue dans notre boutique de vêtements</h1>
  </div>
  <!-------------------->
  <!-----DIAPORAMA------>
  <!-------------------->
 
  <section class="slide">
      <!-- Conteneur des "diapos" -->
      <div class="elements">
          <!-- Première diapo -->
          <div class="element active">
             <img src="static/images/slide/index-slide01.jpg" class="img-fluid pt-4" alt="slide accueil"/>
              <div class="caption">
                  <h2>Image 1</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
              </div>
          </div>
          <!-- Deuxième diapo -->
          <div class="element">
              <img src="static/images/slide/index-slide02.jpg" class="img-fluid pt-4" alt="slide accueil"/>
              <div class="caption">
                  <h2>Image 2</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
              </div>
          </div>
          <!-- Troisième diapo -->
          <div class="element">
              <img src="static/images/slide/index-slide03.jpg" class="img-fluid pt-4" alt="slide accueil"/>
              <div class="caption">
                  <h2>Image 3</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
              </div>
          </div>
      </div>
      <!-- Flèches de navigation -->
      <i id="nav-gauche" class="las la-chevron-left"></i>
      <i id="nav-droite" class="las la-chevron-right"></i>
  </section>
  
  <!-------------------------->
  <!------FIN DIAPORAMA------->
  <!-------------------------->
<div class="pl-10 pr-10 pt-10 pb-5">
    <div class="pl-5 pr-5 pt-5 pb-5 text-3xl text-left bg-yellow-100">
        <p>Bienvenue sur <b>Vetcom !</b><br> Votre destination en ligne pour toute la famille. Découvrez une large             sélection de vêtements et d'accessoires tendance, pour hommes, femmes et enfants. <br><br>Parcourez notre             site convivial, commandez en toute simplicité et profitez d'une livraison rapide. <br>Exprimez votre style             avec Vetcom dès aujourd'hui !<br><br>Les Magicdevs</p>
    </div>
</div>
<br><br>
<p class="text-white">Vous souhaitez voir notre site sur votre téléphone, c'est désormais possible.</p>
<img href="/" src="static/images/ios.png" class="pl-10 pr-10" width="400" height="400"/>
{% endblock %}