
{% extends 'base.html' %}

{% block content %}
<section>
  {% for article in article%}
    <br><br>
    <div class="product-info-container pl-20 pr-20">
      <div class="product-image" style="flex: 1;">
        <img src="{{article['image']}}" style="width:100%;height:600px;">
      </div>
      <div class="product-info text-2xl" style="flex: 2;">
        <br><br> 
        <p class="text-5xl">{{article['titre']}} {{article['prix']}} €</p><br>
        <p class="text-sm">Quantité restante : {{article['sku']}}</p>
        <br><br><br>
        <form action="/panier" method="post">
          <label for="quantity">Quantité :</label>
          <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
          <br><br>
          <input type="submit" class="bg-red-400 pl-5 pt-3 pr-5 pb-3 rounded-full" value="Ajouter au panier"><br><br><br>
        </form>
        <p class="pb-3">Selectionner votre taille : </p>
        <a class="taille-produit bg-stone-400 pl-4 pt-2 pr-4 pb-2">XS</a>
        <a class="taille-produit bg-stone-400 pl-4 pt-2 pr-4 pb-2"> S</a>
        <a class="taille-produit bg-stone-400 pl-3 pt-2 pr-4 pb-2"> M</a>
        <a class="taille-produit bg-stone-400 pl-4 pt-2 pr-4 pb-2"> L</a>
        <a class="taille-produit bg-stone-400 pl-4 pt-2 pr-4 pb-2">XL</a>
        <br><br>
      </div>
    </div>
  <br>
  <div class="text-l pl-10 pr-10 text-left">
    <p class="text-xl">Description de l'article :</p><br>
    <p>{{article['description']}}</p><br>
  </div>
    <br>
  {% endfor%}
</section>
{% endblock %}