{% extends 'base.html' %}
{% block content %}

<div class="text-center text-2xl text-black pl-10 pr-10 pt-10">
  <p>Pour effectuer une commande chez IVETCOM vous devez être connecter.</p><br><br>
  <a href="/login" class="bg-red-400 pl-5 pt-3 pr-5 pb-3 rounded-full" type="button">Se connecter</a><br><br><br><br><br><br><br><br>
  <p>Je n’ai pas de compte.</p>
  <p class="text-lg">Inscrivez-vous (c’est gratuit)</p><br><br>
  <a href="/register" class="bg-red-400 pl-5 pt-3 pr-5 pb-3 rounded-full" type="button">S'inscrire</a>
</div>
<br><br><br><br><br><br>
{% endblock %}